.App {
  text-align: center;
}
.cocktail-data {
  display: grid;
  flex-direction: column;
  gap: 1rem;
}
.cocktail-data li {
  list-style-type: none;
}
.cocktail-data li img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
@media screen and (min-width: 769px) {
  .cocktail-data {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
